<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title><%= book.booktitle %></title>
  </head>
  <body>
    <h1><%= book.booktitle %></h1>
    <p><%= book.bookdescription %></p>
    <p><%= book.bookrating %></p>
    <p><%= book.bookpages %></p>
    <img src="<%= book.bookimage %>" alt="" />
    <p><%= book.author %></p>
    <img src="<%= book.authorimage %>" alt="" />
    <p><%= book.genretag %></p>
    <p><%= book.rdate %></p>
  </body>
</html>
