<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Inventory</title>
  </head>
  <body>

  <a href="/new">add a book</a>
    <section>
      <div>
        <form action="/page/<%= settings.page %>" method="GET">
          <fieldset>
            <label for="limit">Limit</label>
            <input
              type="number"
              name="limit"
              id="limit"
              value="<%= settings.limit %>"
            />
          </fieldset>
          <fieldset>
            <label for="order">Order by</label>
            <select name="order" id="order">
              <option value="df" >Default</option>
              <option value="rating" <%= settings.order === 'rating' ? 'selected': '' %> >Rating</option>
              <option value="title"  <%= settings.order === 'title' ? 'selected': '' %> >Alphabetically</option>
              <option value="release_date"  <%= settings.order === 'release_date' ? 'selected': '' %> >Release Date</option>
              <option value="pages"  <%= settings.order === 'pages' ? 'selected': '' %>>Pages</option>
            </select>
          </fieldset>
          <fieldset>
            
            <label for="author">Author</label>
            <select name="author" id="author">
              <option value="df">All</option>
              <% authors.map((author) => { %>
              <option value="<%= author.id %>"
                <%= settings.author == author.id ? 'selected' : '' %>
                >
                <%= author.tag %>
              </option>
              <% }) %>
            </select>
          </fieldset>
          <fieldset>
            <legend>Genres</legend>
            <% genres.map((gn) => { %>
            <label>
              <input type="checkbox" name="genre" value="<%= gn.id %>" <%=
              settings.genre.includes(String(gn.id)) ? 'checked' : '' %> /> <%=
              gn.tag %>
            </label>
            <% }) %>
          </fieldset>

          <button type="submit">Apply</button>
        </form>
      </div>
      <div>
        <ul>
          <% books.map((book, index) => { %>
          <li>
            <a href="/book/<%= book.slug %>" target="_blank">
              <span><%= book.title %></span>
              <span><%= book.rating.toFixed(1) %></span>
              <span><%= book.pages %></span>
              <span><%= book.release_date %></span>
            </a>
          </li>
          <% }) %>
        </ul>
        <% [...Array(settings.pages).keys()].map(key => { %>
          <a href="/page/<%= key %>">
            <%= key + 1 %>
          </a>
        <% }) %>
      </div>
    </section>
  </body>
</html>


<!-- need to add create + read + update + delete -->

